<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <span class="form-title">
            <h2>  Exercise 2: User Agreement Visibility</h2> <br>
            <strong>**Objective:**</strong> Diagnose and fix user agreement display issue
            <br>
            <br>
Identify the root cause of the user agreement display problem and propose and implement a
solution in the source code.

        </span>
    </div>
</div>
<h2>User Agreement</h2>
<p>
    By clicking the "I Agree" button below, you acknowledge that you have read and agree to the terms and conditions outlined in our user agreement document.
</p>
<p>
    Please click the button below to fetch and read the user agreement document.
</p>
<button onclick='window.location.href="http://localhost:8000/user-agreement-document"'>View User Agreement Document</button>

</body>
</html>