<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <span class="form-title">
            <h2>Congratulations, you have completed the exercise 1, click on "continue" to continue to exercise 2</h2> <br>
            <br>
            <button onclick='window.location.href="/second-assignment.html"'>Continue</button>
        </span>
    </div>
</div>
</body>
</html>